* { 
    box-sizing: border-box;
    color: aquamarine;
    font-family: obitron;
    font-size: large;
    font-weight: bold;
    background-color: rgb(7, 8, 14);
}
 
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
}
.screen {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid lightgray;
    box-shadow: 3px 3px lightgreen;
    width: 7.8em;
    height: 1.4em;
    padding-right: 4px;
    margin: 8px;
    align-items: flex-start;
}

.keyPad {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(4, max-content);
}

.key {
    width: 2em;
    height: 2em;
}

.bottomRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.equivalence {
    width: 6em;
}